name: CI

on:
  pull_request:

permissions:
  contents: read
  checks: write

jobs:
  release:
    name: Public Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
